<form method="GET" action="/search">

    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="A" class="btn btn-lg btn-primary">
                A
            </button>
        </div>
        <div class="col">
            <button name="q" type="submit" value="B" class="btn btn-lg btn-primary">
                B
            </button>
        </div>
         <div class="col">
            <button name="q" type="submit" value="C" class="btn btn-lg btn-primary">
                C
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="D" class="btn btn-lg btn-primary">
                D
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="E" class="btn btn-lg btn-primary">
                E
            </button>
        </div>       
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="F" class="btn btn-lg btn-primary">
                F
            </button>
        </div>
        <div class="col">
            <button name="q" type="submit" value="G" class="btn btn-lg btn-primary">
                G
            </button>
        </div>
         <div class="col">
            <button name="q" type="submit" value="H" class="btn btn-lg btn-primary">
                H
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="I" class="btn btn-lg btn-primary">
                I
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="J" class="btn btn-lg btn-primary">
                J
            </button>
        </div>       
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="K" class="btn btn-lg btn-primary">
                K
            </button>
        </div>
        <div class="col">
            <button name="q" type="submit" value="L" class="btn btn-lg btn-primary">
                L
            </button>
        </div>
         <div class="col">
            <button name="q" type="submit" value="M" class="btn btn-lg btn-primary">
                M
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="N" class="btn btn-lg btn-primary">
                N
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="O" class="btn btn-lg btn-primary">
                O
            </button>
        </div>       
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="P" class="btn btn-lg btn-primary">
                P
            </button>
        </div>
        <div class="col">
            <button name="q" type="submit" value="Q" class="btn btn-lg btn-primary">
                Q
            </button>
        </div>
         <div class="col">
            <button name="q" type="submit" value="R" class="btn btn-lg btn-primary">
                R
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="S" class="btn btn-lg btn-primary">
                S
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="T" class="btn btn-lg btn-primary">
                T
            </button>
        </div>       
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="U" class="btn btn-lg btn-primary">
                U
            </button>
        </div>
        <div class="col">
            <button name="q" type="submit" value="V" class="btn btn-lg btn-primary">
                V
            </button>
        </div>
         <div class="col">
            <button name="q" type="submit" value="W" class="btn btn-lg btn-primary">
                W
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="X" class="btn btn-lg btn-primary">
                X
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="Y" class="btn btn-lg btn-primary">
                Y
            </button>
        </div>       
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="Z" class="btn btn-lg btn-primary">
                Z
            </button>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="0" class="btn btn-lg btn-primary">
                0
            </button>
        </div>
        <div class="col">
            <button name="q" type="submit" value="1" class="btn btn-lg btn-primary">
                1
            </button>
        </div>
         <div class="col">
            <button name="q" type="submit" value="2" class="btn btn-lg btn-primary">
                2
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="3" class="btn btn-lg btn-primary">
                3
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="4" class="btn btn-lg btn-primary">
                4
            </button>
        </div>       
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <button name="q" type="submit" value="5" class="btn btn-lg btn-primary">
                5
            </button>
        </div>
        <div class="col">
            <button name="q" type="submit" value="6" class="btn btn-lg btn-primary">
                6
            </button>
        </div>
         <div class="col">
            <button name="q" type="submit" value="7" class="btn btn-lg btn-primary">
                7
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="8" class="btn btn-lg btn-primary">
                8
            </button>
        </div>        <div class="col">
            <button name="q" type="submit" value="9" class="btn btn-lg btn-primary">
                9
            </button>
        </div>       
    </div> 
</form>